@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #262626;
}
.first-section{
  background-color: #0D0D0D;
  height: 200px;
}
#text{
  height: 52px;
  max-width: 600px;
}
form .btn{
  background-color: #1E6F9F;
  color: #F2F2F2;
}
.cek{
  border-radius: 100%;
  cursor: pointer;
}